################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BCS.Directory/.vs/BCS.Directory/v15/Server/sqlite3/db.lock
