@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<style>
    .navbar.navbar-inverse.navbar-fixed-top {
        display: none;
    }
</style>

<a href="https://www.bcstechnology.com.au/" class="custom-logo-link" rel="home" itemprop="url">
    <img src="https://www.bcstechnology.com.au/wp-content/uploads/2017/08/cropped-BCS-Logo-Big-1.png" class="custom-logo" alt="BCS Technology" itemprop="logo" width="124" height="94">
    
</a>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <hr />

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
