
@{
    ViewData["Title"] = "Index";
}

<h2>Employee</h2>
<form>
    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                @Html.Partial("_ViewEmployee")
            </div>
        </div>

        <div class="add-employee-div">
            @Html.Partial("_AddEmployee")
        </div>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Employee.js"></script>